
/*  ==========  Vibration Animation  ==========  */
.vibrate {
    animation-name: vibrate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes vibrate {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(-2px, 2px);
    }

    50% {
        transform: translate(2px, -2px);
    }

    75% {
        transform: translate(-2px, 2px);
    }

    100% {
        transform: translate(0, 0);
    }
}
