.form {
  width: auto;
  margin: 10px;
  border: 1vw solid #7949a6; 
  border-radius: 40px;
  border-style: dashed;
  background-color: #282c34;
}

.login-button {
  background: yellowgreen;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  margin: 10px 0px 40px 0px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 16px 40px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.login-button:hover{
  box-shadow: 0px 2px 10px yellowgreen;
}

.login-button:active {
  opacity: 80%;
}

.vibrating-rotating-element {
  animation: vibration-rotation 5s infinite;
}

@keyframes vibration-rotation {
  0% {
    transform: rotate(0deg) translate(0px, 0px);
  }

  25% {
    transform: rotate(90deg) translate(-5px, 5px);
  }

  50% {
    transform: rotate(180) translate(0px, 0px);
  }

  75% {
    transform: rotate(270deg) translate(5px, -5px);
  }

  100% {
    transform: rotate(360deg) translate(0px, 0px);
  }
}
